body {
    background: rgba(109, 106, 106, 0.253) 
  }
   
  .card-body {
    padding: 3rem 0 !important;
  }
   
  .card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
  }
   
  .container-fluid .row {
    padding-top: 6rem;
  }